@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: rgb(240, 243, 248);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#container {
    width: 930px;
    height: 430px;
    background-color: #fff;
    border-radius: 28px;
    box-sizing: border-box;
    padding: 36px;
    color: rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#column-left {
    width: 50%;
}

#column-right {
    width: 50%;
    padding-top: 72px;
}

#input-form {
    width: 100%;
}

#column-right.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#heading-text {
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
    margin: 24px 0 0 0;
}

#heading-subtext {
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0 0 0;
    font-weight: 400;
}

#user-input {
    width: 90%;
    height: 55px;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 4px;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10%;
    color: rgb(31, 31, 31);
}

#user-input:focus {
    outline: 2px solid rgb(11, 87, 208);
    border: 1px solid rgb(11, 87, 208);
}

#forgot-mail-btn {
    font-size: 15px;
    font-weight: 500;
    margin-top: 9px;
    margin-bottom: 3px;
    background: none;
    color: rgb(11, 87, 208);
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
}

#forgot-mail-btn a {
    text-decoration: none;
    color: rgb(11, 87, 208);
}

#forgot-mail-btn a:hover {
    text-decoration: none;
    color: rgb(11, 87, 208);
}

#forgot-mail-btn a:visited {
    text-decoration: none;
    color: rgb(11, 87, 208);
}

#info-div {
    margin-top: 32px;
}

#info-div p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(68, 71, 70);
    margin: 0;
}

#info-div a {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(11, 87, 208);
    margin: 0;
    text-decoration: none;
}

#info-div a:visited {
    color: rgb(11, 87, 208);
}

#btn-div {
    margin-top: 38px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
}

#next-btn {
    width: 90px;
    height: 40px;
    background-color: rgb(11, 87, 208);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
}

#heading-cont {
    margin-top: 20px;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: min-content;
    max-width: calc(100% - 30px);
}

#heading-cont-profile-icon {
    margin: 4px 8px 4px 4px;
}

#heading-cont-profile-text {
    margin: 0 16px 0 0;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (max-width: 1240px) {
    #container {
        width: 840px;
    }
}

@media only screen and (max-width: 930px) {
    #container {
        width: 680px;
    }
}

@media only screen and (max-width: 750px) {
    #container {
        display: flex;
        flex-direction: column;
        width: 480px;
        height: auto;
    }

    #column-left {
        width: 100%;
    }

    #column-right {
        width: 100%;
        padding-top: 40px;
    }
}

@media only screen and (max-width: 530px) {
    #container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
}